/* Custom cursor styling */
*{
    cursor: none;
}

.cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: gray;
    border-radius: 50%;
    width: 32px;
    height: 32px;
  }
  