/* Custom cursor styling */
/* *{
    cursor: none;
} */


.cursor {
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    background-color: gray;
    border-radius: 50%;
    width: 12px;
    height: 12px;
  }
  

  /* Custom scrollbar */
::-webkit-scrollbar {
    width: 8px; 
  }
  
  ::-webkit-scrollbar-track {
    background: #0e0e0e; 
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(45deg, white, gray, black); 
    border-radius: 10px;
    transition: background 0.3s;
  }
  
  html, body {
    overflow: auto; /* Ensure scrolling is enabled */
  }
    
  
  section {
    min-height: 100vh; /* Ensures sections are full-height */
  }
  

